@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Black.ttf);
    font-weight: normal;
    color: black;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: normal;
}

.photo-grid {
    width: 95%;
    margin-top: 92px;
} 

@media screen and (min-width: 1280px) {
    .photo-grid{
        width: 96vw;
    }
    
} 

@media screen and (max-width: 1023px) {
    
    .places {
        width: 95vw;
    }
    

    .photo-grid {
        width: 95vw;
    } 
}    


@media screen and (max-width: 767px) {

    .photo-grid {
        width: 93%;
        margin-top: 64px;
    } 
}    